<footer class="footer">
  <div class="footer-wrapper">
    <div><p class="list__items">© 2023 | All Rights Reserved |</p></div>
    <div class="list-wrapper">
      <ul class="footer__list">
        <li class="list__items">Developed with</li>
        <li class="list__items">
          <div class="svg__wrapper">
           <i class="fa-solid fa-heart"></i>
          </div>
        </li>
        <li class="list__items"><a href="https://github.com/Amadimm" >Amadeusz Rolecki</a></li>
      </ul>
    </div>
  </div>
</footer>
