<header class="header">
  <div class="header-wrapper">
    <div class="header__container">
      <div class="header__box">
        <a class="header__box-link" href="/src/index.html">Disney showcase</a>
      </div>
      <nav class="navigation">
        <ul class="navigation__list">
          <li>
            <div class="notLoggedIn" id="not-logged-in">
              <button
                data-open-modal
                class="login__button"
                aria-label="User sign-in"
              >
                <i class="fa-solid fa-user login__button-icon"></i>
              </button>
            </div>
          </li>
          <li>
            <div class="loggedIn" id="logged-in">
              <button
                id="logout__btn"
                class="login__button"
                aria-label="User logout"
              >
                <i
                  class="fa-solid fa-right-from-bracket login__button-icon"
                ></i>
              </button>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
